extends layout

block content
  div.container
    h1
      =done + "/" + cards.length

    table
      thead
        tr
          th
            | Card
          th
            | Have it?
          th
            | Notes
          th
            | Details
      tbody
        - each card in cards
          tr
            td
              if card.have
                span(style="color:gray")= card.cardName
              else
                span(style="color:#e67e22;font-weight:bold")=card.cardName
              | &nbsp;
              span(style="font-size:8px;color:gray")=card.cardId
            td
              if card.have
                span(style="color:gray")
                  | Yes
              else
                span(style="color:#e67e22;font-weight:bold")
                  | No
            td= card.notes
            td
              if card.ign
                a(href=card.ign)
                  | Details
