extends layout

block content
  div.container
    table
      thead
        tr
          th
            | Card
          th
            | Have it?
          th
            | Notes
          th
            | Details
      tbody
        - each card in cards
          tr
            td
              if card.have
                span(style="color: gray")= card.cardName
              else
                span(style="color: #33C3F0; font-weight: bold")=card.cardName
              | &nbsp;
              span(style="font-size:8px;color:gray")=card.cardId
            td
              if card.have
                | Yes
              else
                | No
            td= card.notes
            td
              if card.ign
                a(href=card.ign)
                  | Details
