extends layout

block content
  div.container
    table
      thead
        tr
          th
            | Card
          th
            | Do you have it?
          th
            | Notes
          th
            | Details
      tbody
        - each card in cards
          tr
            td
              if card.have
                span(style="color: gray")= card.cardName
              else
                b=card.cardName
              | &nbsp;
              span(style="font-size:8px;color:gray")=card.cardId
            td= card.have
            td= card.notes
            td
              if card.ign
                a(href=card.ign)
                  | Details
