extends layout

block content
  div.container
    p
      span=username
      | &nbsp;&middot;&nbsp;
      a(href="http://destinycalcifiedfragments.com/"+platform+"/"+username)
        | Fragments
      | &nbsp;&middot;&nbsp;
      a(href="http://destinydeadghosts.com/"+platform+"/"+username)
        | Ghosts
      | &nbsp;&middot;&nbsp;
      a(href="http://destinysivaclusters.com/"+platform+"/"+username)
        | SIVA Clusters

    if done && total
      h3=done + "/" + total

    - each section in sections
      h3(style="margin-bottom:0")=section.name
      table(width="100%")
        thead
          tr
            th(width="35%")
              if type == 'ghosts'
                | Ghost
              else if type == 'fragments'
                | Fragment
              else
                | Card
            th(width="10%")
              | Have it?
            th
              | Notes
            if showDetails
              th(width="5%")
                | Details
            th(width="5%")
              | Video
        tbody
          - each card in section.cards
            tr
              td
                if card.have
                  span(style="color:gray")= card.cardName
                else
                  span(style="color:#e67e22;font-weight:bold")=card.cardName
                | &nbsp;
                span(style="font-size:8px;color:gray")=card.cardId
                | &nbsp;
                if card.expansion
                  span(style="font-size:8px;color:gray;text-transform:uppercase;")=card.expansion
              td(style="min-width: 72px")
                if card.have
                  if card.characters
                    for character in card.characters
                      img(style="width: 24px" src="http://www.bungie.net" + character.emblem_url)
                  else
                    span(style="color: grey")
                      | Yes
                else
                  span(style="color:#e67e22;font-weight:bold")
                    | No
              td= card.notes
              if showDetails
                td
                  if card.link
                    a(href=card.link target="_new")
                      | Details
              td
                if card.video
                  a(href=card.video target="_new")
                    | Video
